html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

#covertop {
  height: 30rem;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logomenubox {
  background-color: cadetblue;
  height: 3rem;
  width: 100%;
  position: relative;
  top: 1rem;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logotitle {
  font-size: 1rem;
  padding-left: 1rem;
}
