html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

#covertop {
  height: 30rem;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
