html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
  line-height: 8rem;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}



header {
  height: 30rem;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  background-color: cadetblue;
  height: 3rem;
  width: 100%;
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
}

footer img {
  height: 1.5rem;
}

#content1 img {
  width: 3.5rem;
}

#content2 img {
  width: 5rem;
}

#content3 img {
  width: 3.5rem;
}

nav span {
  padding: 0 2rem 0 2rem;
}

span.logotitle {
  padding-left: 1rem;
}

.mottotitle {
    color: black;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 5rem;
    max-width: 30%;
    position: relative;
    top: 10rem;
    left: 37rem;
}

.container-content {
  width: 25%;
  margin: 0 auto;
}

#contenthead {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 3rem 0;
}

#content1 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
}


#content2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
}


#content3 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 8rem;
  width: 5rem;
}

footer {
  background-color: azure;
  color: black;
  padding: 4rem 1rem 4rem 4rem;
}

footer div {
  display: flex;
  align-items: center;
}


#list {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

#list {
    display: flex;

}

.box {
  width: 35%;
  padding-right: 5%;
}

p, .contitle {
  color: black;
}

p {
  padding-top: 1rem;
}

.contitle {
  background-color: cadetblue;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.25rem 1.25rem;
}


@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  nav {
    top: 0;
  }
}
